@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Job Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employer">Employer</label>
        <select asp-for="Employer" asp-items="@Model.Employers" />
        <span asp-validation-for="Employer"></span>
    </div>
    <div class="form-group">
        @foreach (var skill in @Model.Skills)
        {
            <input type="checkbox" name="selectedSkills" value="@skill.Id" />
            <label asp-for="Skills">@skill.Name</label>
        }
    </div>

    <input type="submit" value="Add Job" />
</form>

<p><a asp-controller="Employer" asp-action="Add">Add Employer</a></p>
<p><a asp-controller="Skill" asp-action="Add">Add Skill</a></p>

