@model TechJobsPersistent.Models.Job

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <selectc asp-for="Employer" />
        <span asp-validation-for="Employer"></span>
    </div>

    @*@Html.LabelFor(x => x.Employer)
    @Html.DropDownListFor(x => x.Employer.Name, Model.Employer)*@

    <input type="submit" value="Add Job" />
</form>

